<% let G_PAGE = JSON.parse('{"API":{"GET_PAGINATION":"/api/album/list"},"SELECTOR":{"PAGE_NUM_LINK":".pagination .pagination .page-link"},"DATASET":{"KEY":{"BLOG_ID":"blog-id","PAGINATION_NUM":"pagination","PAGE_NUM":"page","PAGE_TURN":"turn","BLOG_STATUS":"status"},"VALUE":{"PREVIOUS_PAGE":"previous-page","NEXT_PAGE":"next-page","PREVIOUS_PAGINATION":"previous-pagination","NEXT_PAGINATION":"next-pagination","BLOG_STATUS_PUBLIC":"public"}},"PAGINATION":{"BLOG_COUNT":5,"PAGE_COUNT":2}}') %>
<li <%= `data-${G_PAGE.DATASET.KEY.PAGE_NUM}=${page}` %> style="<%= page !== 1 ? 'display: none' : ''%>">
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-info d-flex align-items-center justify-content-between">
      <div class="col-sm-8">
        <span>標題</span>
      </div>
      <div class="d-none d-sm-block col-sm-4">
        <span><%= isPublic ? '發布時間' : '上一次編輯時間' %></span>
      </div>
    </li>
    <% blogs.forEach( ( {id, title, time } ) => { %>
    <li <%= `data-${G_PAGE.DATASET.KEY.BLOG_ID}=${id}` %> class="list-group-item list-group-item-action list-group-item-info d-flex align-items-center justify-content-between">
      <div class="col-sm-8 text-truncate">
        <a class="stretched-link" href="/album/<%= id %>">
          <%= title %>
        </a>
      </div>

      <div class="d-none d-sm-block col-sm-4 text-truncate">
        <span class="timestamp"><%= time %></span>
      </div>
    </li>
    <% }) %>

    <!-- 填補START -->
    <% if(blogs.length < pagination.BLOG_COUNT) {%>
    <% for(let _i=pagination.BLOG_COUNT - blogs.length; _i> 0; _i-- ){ %>
    <li class="list-group-item list-group-item-info d-flex align-items-center justify-content-between">
      <div class="filler me-3"></div>
    </li>
    <% } %>
    <% } %>
    <!-- 填補END -->
  </ul>
</li>