<% let G_PAGE = JSON.parse('{"PAGE_NAME":"BLOG","API":{"REMOVE_COMMENT":"/api/comment","CREATE_COMMENT":"/api/comment"},"DATASET":{"KEY":{"REMOVE_COMMENT":"remove","PID":"pid"}},"CLASS":{"COMMENT_ITEM_CONTENT":"comment-item-content","COMMENT_EDITOR_CONTAINER":"editor-container","COMMENT_LIST_CONTAINER":"comment-list-container","BLOG_CONTENT":"editor-content-view"}}') %>
<% tree.forEach( _comment => { %>
<% if (_comment.html || _comment.reply.length) { %>
<!-- comment-box 是一個留言串的 container -->
<div class="comment-item-container">
  <%= ejs_render.blog.commentItem({..._comment}) %>
  <!-- reply-box 是這個留言的回覆串 -->
  <div class="<%= G_PAGE.CLASS.COMMENT_EDITOR_CONTAINER %>" <%= `data-${G_PAGE.DATASET.KEY.PID}=${_comment.id}` %>></div>
  <div class="comment-list" <%= `data-${G_PAGE.DATASET.KEY.PID}=${_comment.id}` %>>
    <% if(_comment.reply.length){ %>
    <%= ejs_render.blog.commentTree({ tree: _comment.reply, ejs_render }) %>
    <% } %>
  </div>
</div>
<% } %>
<% }) %>