<% let G_PAGE = JSON.parse('{"PAGE_NAME":"BLOG","API":{"REMOVE_COMMENT":"/api/comment","CREATE_COMMENT":"/api/comment"},"DATASET":{"KEY":{"REMOVE_COMMENT":"remove","PID":"pid"}},"CLASS":{"COMMENT_ITEM_CONTENT":"comment-item-content","COMMENT_EDITOR_CONTAINER":"editor-container","COMMENT_LIST_CONTAINER":"comment-list-container","BLOG_CONTENT":"editor-content-view"}}') %>
<div class="<%= G_PAGE.CLASS.COMMENT_ITEM_CONTENT %>" id="comment_<%= id %>">
  <% if (deletedAt || !html) { %>
  <div>
    <p>此留言已刪除</p>
  </div>
  <div>
    By<a href="/other/<%= commenter.id %>"><%= commenter.nickname %></a> 於 <%= time %> 刪除
  </div>
  <% } else { %>
  <%= html %>
  <div>
    By<a href="/other/<%= commenter.id %>"><%= commenter.nickname %></a> 於 <%= time %> 發佈
    <button class="btn btn-outline-primary btn-sm">回覆</button>
    <button style="display: none;" class="btn btn-outline-danger btn-sm" <%= `data-${G_PAGE.DATASET.KEY.REMOVE_COMMENT}=${id}` %>>刪除</button>
  </div>
  <% } %>
</div>