<head><link rel="icon" href="/public/imgs/favicon/favicon.png"></head><% let G_PAGE = JSON.parse('{"API":{"REMOVE_COMMENT":"/api/comment","CREATE_COMMENT":"/api/comment"},"DATASET":{"KEY":{"REMOVE_COMMENT":"remove","PID":"pid"}},"CLASS":{"COMMENT_ITEM_CONTENT":"comment-item-content","COMMENT_EDITOR_CONTAINER":"editor-container","COMMENT_LIST_CONTAINER":"comment-list-container","BLOG_CONTENT":"editor-content-view"}}') %>
<%- include('../wedgets/header/index', {title}) %>
<main class="container-md main" style="display: none;">
<div class="card">
<div class="card-header">
<h1>
<%= blog.title %>
</h1>
</div>
<div class="card-body">
<div class="<%= G_PAGE.CLASS.BLOG_CONTENT %>"></div>
</div>
</div>
<% if (blog.showComment) { %>
<div class="card">
<div class="card-header">
<h3>留言</h3>
</div>
<div class="card-body">
<div class="comment-container">
<div class="<%= G_PAGE.CLASS.COMMENT_EDITOR_CONTAINER %>"></div>
<div class="<%= G_PAGE.CLASS.COMMENT_LIST_CONTAINER %>">
<div class="<%= G_PAGE.CLASS.COMMENT_LIST %>" <%= `data-${G_PAGE.DATASET.KEY.PID}=0` %>>
<% if(blog.comment.tree){ %>
<%- ejs_render.blog.commentTree({tree: blog.comment.tree, ejs_render }) %>
<% } %>
</div>
</div>
</div>
</div>
</div>
<% } %>
</main>
<%- include('../wedgets/footer/index') %>
<script defer src="/public/js/blog.ae9a0.js"></script></body>
</html>