<!-- 傳入 blog, pagination, ejs_render, SELECTOR -->
<% let G_PAGE = SELECTOR.SQUARE %>


<% let { blogs, count } = blog.public %>

<div class="blogList card" <%= `data-${G_PAGE.DATASET.KEY.BLOG_STATUS}=${G_PAGE.DATASET.VALUE.BLOG_STATUS_PUBLIC}` %>>
  <% if(count){ %>
  <ul class="list-group">
    <%- ejs_render.blogList({ blogs, page: 1, pagination, SELECTOR }) %>
    <div class="pageLoading" style="display: none;">
      <h1></h1>
    </div>
  </ul>
  <% if (count / pagination.BLOG_COUNT > 1) { %>
  <!-- 總頁數 -->
  <% let _totalPage=Math.ceil(count / pagination.BLOG_COUNT) %>
  <!-- 總分頁數 -->
  <% let _totalPagination=Math.ceil(_totalPage / pagination.PAGE_COUNT) %>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link pe-none" href="#" <%= `data-${G_PAGE.DATASET.KEY.PAGE_TURN}=${G_PAGE.DATASET.VALUE.PREVIOUS_PAGINATION}` %>>
          &#8810;
        </a>
      </li>
      <li class="page-item">
        <a class="page-link pe-none" href="#" <%= `data-${G_PAGE.DATASET.KEY.PAGE_TURN}=${G_PAGE.DATASET.VALUE.PREVIOUS_PAGE}`%>>&#60;</a>
      </li>

      <% for( let _page_num = 1; _totalPage >= _page_num; _page_num++ ){ %>
      <!-- 當前頁數/分頁選單頁數上限，若餘數是1，則新增一份分頁選單 -->
      <% if((_page_num % pagination.PAGE_COUNT)===1){ %>
      <!-- 當前分頁數 -->
      <% let page_pagination = Math.ceil(_page_num / pagination.PAGE_COUNT) %>
      <% if (page_pagination === 1) { %>
      <ul class="pagination" <%= `data-${G_PAGE.DATASET.KEY.PAGINATION_NUM}=${page_pagination}` %>>
        <% } else { %>
        <ul class="pagination" <%= `data-${G_PAGE.DATASET.KEY.PAGINATION_NUM}=${page_pagination}` %> style="display: none;">
          <% } %>
          <% } %>
          <!-- 分頁選單內的單頁選項 -->
          <li class="page-item <%= _page_num === 1 ? 'active' : '' %>">
            <a class="page-link" href="#" <%= `data-${G_PAGE.DATASET.KEY.PAGE_TURN}=${_page_num}` %>>
              <%= _page_num %>
            </a>
          </li>

          <!-- 總頁數/分頁選單頁數上限，若整除，或是此頁是最後一頁，則此份分頁選單閉鎖 -->
          <% if( !(_page_num % pagination.PAGE_COUNT) || _page_num===_totalPage ){ %>
        </ul>
        <% } %>
        <% } %>
        <li class="page-item">
          <a href="#" <%= `data-${G_PAGE.DATASET.KEY.PAGE_TURN}=${G_PAGE.DATASET.VALUE.NEXT_PAGE}` %> class="page-link <%= _totalPage < 2 ? "pe-none" : '' %>">&#62;</a>
        </li>
        <li class="page-item">
          <a href="#" <%= `data-${G_PAGE.DATASET.KEY.PAGE_TURN}=${G_PAGE.DATASET.VALUE.NEXT_PAGINATION}` %> class="page-link <%= _totalPagination < 2 ? "pe-none" : '' %>">&#8811;</a>
        </li>
      </ul>
  </nav>
  <% } %>

  <% } else { %>
  <p class="p-3">沒有文章
  </p>
  <% } %>
</div>