<% let { otherComments } = comment %>
<% let count = otherComments.commenters.length %>
<% let others = otherComments.commenters.map(({ nickname }) => nickname) %>
<% let other_nicknames = count > 1 ? others.slice(0, 2).join(",") + (count > 2 ? `與其他${count - 2}人` : "" + `，都`) : count === 1 ? others[0] : comment.commenter.nickname; %>
<% let nicknames = count > 1 ? `${comment.commenter.nickname} ${other_nicknames}` :  other_nicknames %>
<% let query = confirm ? "" : `?type=3&id=${id}` %>
<li class="dropdown-item  position-relative news-item transition-bg" <%= confirm ? `style=""` : `style="background-color: rgb(120 180 255);"` %>>
  <a href="/api/msgReceiver/<%= id %>" class="stretched-link text-wrap">
    <div class="news-item-content">
      <span><%= nicknames %>在「<%= comment.article.title %>」留言囉！</span>
    </div>
  </a>
  <p><%= timestamp %></p>
</li>