<head><link rel="icon" href="/public/imgs/favicon/favicon.png"></head><% let G_PAGE = JSON.parse('{"API":{"EDIT_BLOG":"/blog/edit","CREATE_BLOG":"/api/blog","REMOVE_BLOGS":"/api/blog","CANCEL_FOLLOW":"/api/user/cancelFollow","GET_PAGINATION":"/api/blog/list","FOLLOW":"/api/user/follow"},"SELECTOR":{"PAGE_NUM_LINK":".pagination .pagination .page-link"},"DATASET":{"KEY":{"BLOG_ID":"blog-id","REMOVE_BLOG":"remove-blog","USER_ID":"user-id","PAGINATION_NUM":"pagination","PAGE_NUM":"page","PAGE_TURN":"turn","BLOG_STATUS":"status"},"VALUE":{"REMOVE_BLOG_LIST":"list","REMOVE_BLOG_ITEM":"item","PREVIOUS_PAGE":"previous-page","NEXT_PAGE":"next-page","PREVIOUS_PAGINATION":"previous-pagination","NEXT_PAGINATION":"next-pagination","BLOG_STATUS_PUBLIC":"public"}},"ID":{"CANCEL_FOLLOW":"cancelFollow","FOLLOW":"follow","IDOL_LIST":"idolList","FANS_LIST":"fansList","NEW_BLOG":"new_blog","NEW_BLOG_TITLE":"new_blog_title","NEW_BLOG_MODAL":"new_blog_modal"},"PAGINATION":{"BLOG_COUNT":5,"PAGE_COUNT":2}}') %>
<%- include('../wedgets/header/index', {title}) %>
<!-- MAIN -->
<main class="container-md" style="opacity: 0;">
<div class="card">
<div class="card-header">
<h3>個人頁面</h3>
</div>
<div class="card-body">
<!-- 使用者資訊 + 文章列表 -->
<div class="row">
<div class="col-lg-8">
<!-- User container -->
<div id="user-info" class="card">
<div class="row align-items-center justify-content-center">
<div class="col-sm-4">
<div class="avatar-box">
<div class="ratio ratio-1x1">
<img src="<%= currentUser.avatar %>" class="img-fluid" alt="...">
</div>
</div>
<% if(!isSelf){ %>
<div class="text-center mb-3">
<button id="cancelFollow" type="button" class="btn btn-danger btn-sm follow">取消追蹤</button>
<button id="follow" type="button" class="btn btn-success btn-sm follow">追蹤</button>
</div>
<% } %>
</div>
<div class="col-sm-8">
<div class="card-body">
<h5 class="card-title">主要資料</h5>
<hr>
<p>信箱： <%= currentUser.email %>
</p>
<p>暱稱： <%= currentUser.nickname %>
</p>
</div>
</div>
</div>
</div>
<!-- Blog container -->
<div id="blog-info">
<!-- create Blog Modal -->
<% if(isSelf){ %>
<!-- Button for Modal -->
<button type="button" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target=<%= `#${G_PAGE.ID.NEW_BLOG_MODAL}` %>>
撰寫新文章
</button>
<!-- Modal -->
<div class="modal fade" tabindex="-1" aria-labelledby="newBlogModalLabel" aria-hidden="true" id=<%= G_PAGE.ID.NEW_BLOG_MODAL%>>
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-body">
<div>
<label for="new_blog_title" class="form-label">文章標題</label>
<input type="text" name="title" class="form-control" id="new_blog_title" placeholder="文章標題">
<div></div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消建立文章</button>
<button id="new_blog" type="button" class="btn btn-primary">建立文章</button>
</div>
</div>
</div>
</div>
<% } %>
<!-- BlogList -->
<%- include('./components/blog_card', { blogs, ejs_render, isSelf, pagination: G_PAGE.PAGINATION }) %>
</div>
</div>
<div class="col-lg-4">
<div id="follow-info">
<%- include('./components/relationship_list', { relationShip, ejs_render}) %>
</div>
</div>
</div>
</div>
</div>
</main>
<%- include('../wedgets/footer/index') %>
<script defer src="/public/js/user.bab0b.js"></script></body>
</html>