<% let G_PAGE = SELECTOR.BLOG %>
<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <!-- 傳入 title -->
  <%- include('../wedgets/header/index') %>
</head>

<body>
  <%- include('../wedgets/pageLoading/index') %>
  <%- include('../wedgets/navbar/index') %>
  <main class="container-md main" style="display: none;">
    <div class="card">
      <div class="card-header">
        <h1>
          <%= blog.title %>
        </h1>
        <p>作者：<a href="/other/<%= blog.author.id %>"><%= blog.author.nickname %></a></p>
      </div>
      <div class="card-body">
        <div class="<%= G_PAGE.CLASS.BLOG_CONTENT %>"></div>
      </div>
    </div>
    <% if (blog.showComment) { %>
    <div class="card">
      <div class="card-header">
        <h3>留言</h3>
      </div>
      <div class="card-body">
        <div class="comment-container">
          <div class="<%= G_PAGE.CLASS.COMMENT_EDITOR_CONTAINER %>"></div>
          <div class="<%= G_PAGE.CLASS.COMMENT_LIST_CONTAINER %>">
            <div class="<%= G_PAGE.CLASS.COMMENT_LIST %>" <%= `data-${G_PAGE.DATASET.KEY.PID}=0` %>>
              <% if(blog.comment.tree){ %>
              <%- ejs_render.commentTree({tree: blog.comment.tree, ejs_render, SELECTOR }) %>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>

  </main>

  <%- include('../wedgets/footer/index') %>
</body>

</html>