<% let G_PAGE = SELECTOR.REGISTER_LOGIN %>
<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <!-- 傳入 title -->
  <%- include('../wedgets/header/index') %>
</head>

<body>
  <%- include('../wedgets/pageLoading/index') %>
  <%- include('../wedgets/navbar/index') %>
  <main style="display: none;">
    <%- include('./components/model-registerCode', { G_PAGE }) %>
    <!-- 註冊/登入 互動卡片-->
    <div class="card w-75 mx-auto">
      <!-- 卡片頭部 -->
      <div class="card-header">
        <!-- 頭部導行列-->
        <ul class="card-header-tabs nav nav-tabs">
          <!-- 頭部導行項-->
          <% let list = [G_PAGE.ID.REGISTER_FORM, G_PAGE.ID.LOGIN_FORM] %>
          <% for( let type of list ){ %>
          <% let form_id = type %>
          <% let tab_txt = form_id === G_PAGE.ID.REGISTER_FORM ? "註冊" : "登入" %>
          <li class="nav-item">
            <a class="nav-link <%= active === form_id ? `active` : `` %>" href="#" data-bs-toggle='tab' data-bs-target='#<%= form_id %>-card' role="tab" aria-controls=<%= form_id %> aria-selected="true"><%= tab_txt %></a>
          </li>
          <% } %>
        </ul>
      </div>
      <!-- 卡片主體 -->
      <div class="card-body tab-content">
        <!-- REGISTER PANE -->

        <% for( let type of list ){ %>
        <% let form_id = type %>
        <% if(form_id === G_PAGE.ID.REGISTER_FORM ){ %>
        <%- include('./components/pane-register', {form_id}) %>
        <% } else if (form_id === G_PAGE.ID.LOGIN_FORM ){ %>
        <%- include('./components/pane-login', {form_id}) %>
        <% } %>
        <% } %>
      </div>
    </div>
  </main>
  <%- include('../wedgets/footer/index') %>
</body>

</html>