<!-- 傳入 form_id -->
<div class="tab-pane fade <%= active === form_id ? `show active` : `` %>" role="tabpanel" aria-labelledby="<%= form_id %>-tab" id="<%= form_id %>-card">
  <%- include('./model-registerCode', { G_PAGE }) %>

  <form id="<%= form_id %>" data-my-type="<%= form_id %>" class="row" autocomplete="do-not-autofill">
    <div class="col-10 col-md-8 mx-auto">
      <div class="mb-3">
        <label for="email" class="form-label">信箱</label>
        <input type="email" class="form-control" name="<%= G_PAGE.NAME.EMAIL %>" aria-describedby="email_help" autocomplete="off" required>
        <div></div>
      </div>
      <div class="mb-3">
        <label for="input_password" class="form-label">密碼</label>
        <input type="password" class="form-control" name="<%= G_PAGE.NAME.PASSWORD %>" data-retry='yes' autocomplete="new-password" required>
        <div></div>
      </div>
      <div class="mb-3">
        <label for="input_check_password" class="form-label">密碼確認</label>
        <input type="password" class="form-control" name="<%= G_PAGE.NAME.PASSWORD_AGAIN %>" autocomplete="off" required disabled>
        <div></div>
      </div>
      <button type="submit" class="btn btn-primary w-100" disabled>送出</button>
    </div>
  </form>
</div>